{% extends 'base.html' %}

{% block title %} Blog post {% endblock title %}

{% block blogActive %} active {% endblock blogActive %}

{% block body %}
<div class="container my-3">
    <div class="blog-post">
        <h1 class="blog-post-title">{{post.title}}</h1>
        <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.author}}</a></p>
        <p>{{post.content}}</p>
        <hr>
    </div>
</div>
{% load static %}
{% load humanize %}
{% load extras %}
<div class="container my-3">
    <h4>Comments ({{comments.count}})</h4>
    <div class="container">
    {% if user.is_authenticated %}
        <form action="/blog/postComment" method="post"> {% csrf_token %}
            <div class="form-group">
                <label for="comment">Post Comment </label>
                <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
            </div>
            <input type="hidden" name="postSno" value="{{post.sno}}">
            <input type="hidden" name="parentSno" value="">
            <button type="submit" class="btn btn-outline-warning">Comment</button>
        </form>
    {% else %}
        <h5><span class="badge badge-info">Please login to Comment on the post</span></h5>
    {% endif %}
    </div>
    {% for comment in comments %}
        <div class="row my-3 mx-0 border-bottom border-secondary">
            <div class="col-md-1">
            <img class="rounded mx-auto d-block w-100 p-2" src="/static/img/user.png"  alt="user">
            </div>
            <div class="col-md-11">
                <b>{{comment.user.username}}</b> <span class="font-weight-lighter">{{comment.timestamp | naturaltime}}</span>
                <div>{{comment.comment}}</div>
                {% if user.is_authenticated %}
                <div class="reply my-2">
                    <button class="btn btn-sm btn-link" type="button" data-toggle="collapse" data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
                        Reply
                    </button>
                    
                    <div class="collapse" id="replyBox{{comment.sno}}">
                        <div class="card card-body my-2">
                            <form action="/blog/postComment" method="post"> {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" name="comment" placeholder="Enter reply here">
                                    <input type="hidden" name="parentSno" value="{{comment.sno}}">
                                </div>
                                <input type="hidden" name="postSno" value="{{post.sno}}">
                                <button type="submit" class="btn btn-sm btn-light">send reply</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="replies my-1">
                    {% for reply in replies|get_val:comment.sno %}
                    <div class="container my-1">
                    <b>{{reply.user.username}}</b> replied <span class="font-weight-lighter">{{reply.timestamp | naturaltime}}</span>
                    <div>{{reply.comment}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    
</div>
 {% endblock %}