{% extends 'base.html' %}

{% block title %} Blog post {% endblock title %}

{% block blogActive %} active {% endblock blogActive %}

{% block body %}
<div class="container my-3">
    <div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.author}}</a></p>
        <p>{{post.content}}</p>
        <hr>
    </div>
</div>
<div class="container">
    <form action="/blog/postComment" method="post"> {% csrf_token %}
        <input type="text" name="comment" placeholder="enter your comment here">
        <input type="hidden" name="post_sno" value="{{post.sno}}" >
        <input type="submit" value="Submit">
    </form>
    <div class="row my-3">
        <div class="col-md-2">
        img here
        </div>
        <div class="col-md-10">
        comment here
        </div>
    </div>
</div>
 {% endblock %}